<!DOCTYPE html>

<html>
		<head>
			<link rel="stylesheet" href="/css/style.css">
			<link rel="icon" href="/img/weather.png" >
			<title>About</title>	
		</head>
		<body>
			<div class="main-content">
				{{>header}}
				<p>This site was created by Rounak Shah. It uses data from mapbox.com and darksky.net</p>
				<img src="/img/123.jpg" class="portrait" >
			</div>
			{{>footer}}
		</body>
</html>
